@import url(./card.css);
.navigation-container{
    color: #fff;
    display: flex;
    margin-right: 1.2em;
  }
  .header-page{
    display: flex;
  }
  
  .navigation-header{
    display: flex;
    width: 80%;
    justify-content: space-around;
    .header-page{
      display: flex;
    }
  .navigation-container{
    display: flex;
    .linkTo {
      color: #fff;
      text-decoration: none;
      display: flex;
    }
    .linkTo:hover{
      color: yellow;
    }
    
  }
  }
  .navigation-header-mob{
    display: flex;
    justify-content: space-around;
    .header-page{
      display: flex;
    }
  .navigation-container{
    display: flex;
    .linkTo {
      color: #fff;
      text-decoration: none;
      display: flex;
    }
    .linkTo:hover{
      color: yellow;
    }
    
  }
  }
  
  .navbar {
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
  }
  
  .menu {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .menu li {
    margin: 0 10px;
  }
  
  .menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
  }
  .cross-icon {
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
  
  
  .bar {
    width: 100%;
    height: 3px;
    background-color: #333;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  
  .bar:first-child {
    transform: rotate(45deg);
  }
  
  .bar:last-child {
    transform: rotate(-45deg);
  }
  }
  
  .button-signup{
    border-radius: 22px;
    padding: 8px;
    background-color: yellow;
    font-size: 24px;
    margin-left: 16px;
    cursor: pointer;
  }
  .button-signin{
      color: white;
      padding: 0;
      border: none;
      background: none;
      font-size: 22px;
      cursor: pointer;
  }
  .button-signup:hover{
    background-color: #000;
    border: 1px solid yellow;
    color: yellow;
  }
  .button-signin:hover{
    color: yellow;
  }
  
  h1{
    font-size: 48px;
  }
  
  .tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .tooltip-content {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 16px;
    white-space: nowrap;
    z-index: 1;
    padding-right:5em;
    margin-top: 10px;
    >ul >li{
      list-style-type: none;
      padding: 0.5em 0em;
    }
    >ul >li:hover{
      background-color: #000;
      border-radius: 16px;
    }
  }
  
  .tooltip:hover .tooltip-content {
    display: block;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0;
    border-color: white transparent transparent transparent;
    margin-top: 15px;
  }
  .section2{
    color: rgb(255, 255, 255);
    text-align: left;
    box-shadow: 1px solid;
    background: #333;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    width: 90%;
    display: flex;
    padding: 4em 2em;
    display: flex;
    flex-direction: column;
    >div {
      display: flex;
      justify-content: space-between;
    }
  }
  .section4{
    background: #333;
    margin: 2em auto;
    width:80%;
    color: rgb(255, 255, 255);
    text-align: left;
    box-shadow: 1px solid;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    display: flex;
    padding: 2em;
  }
  .tnc{
    display: flex;
    color: #fff;
    width:  40%;
    cursor: pointer;
    margin-top: 5em;
  }

  .tnc-span:hover{
    color: yellow;
  }

  .image-link{
    display: flex;
    flex-direction: column;
    text-align: left;
    flex-direction: column;
    margin-left: 3.5em;
    margin-bottom: 2em;
  }
  
    .arrown {
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 5px 8px 5px;
      border-color: transparent transparent #333 transparent;
      top: -8px;
      left: 50%;
      transform: translateX(-50%);
    }
    .learn-more{
      font-size: 24px;
    margin-left: 1em;
    cursor: pointer;

    }
  