@import url(./components/css/webPage.css);
.App {
  text-align: center;
  min-height: 100vh;
  background-color: #000;
  overflow-x: hidden;
  padding: 2em 4em;
  background-image: url(./placeholder.jpg);
  height: 100%;
  background-position: right;

  /* background-repeat: no-repeat; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 2em;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: auto;
  font-size: 22px;
  .home-header{
    color: #fff;
    text-decoration: none;
    font-size: 24px;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-page{
  display: flex;
}

.app-mobweb{
  text-align: center;
  min-height: 100vh;
  background-color: #000;
  overflow-x: hidden;
  padding: 1em;
  background-image: url(./placeholder.jpg);
  height: 100%;
  background-position: right;
  .App-header{
    padding-top: 1em;
  }

}
.home-container-mweb{
  color: #fff;
  text-align: left;
}
.home-container{
  color: #fff;
  width: 50%;
  text-align: left;
}

.section2-mweb{
    color: rgb(255, 255, 255);
    text-align: left;
    box-shadow: 1px solid;
    background: #333;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    display: flex;
    padding: 4em 2em;
    display: flex;
    flex-direction: column;
    .section2-div {
      display: flex;
      justify-content: space-between;
    }
    .section2-div-mweb{
      display: flex;
      justify-content: space-between;
     flex-direction: column;
    }
  }
